﻿@model DatingApp.Models.RegisterModel

@{
    ViewBag.Title = "Manage Account";
}

<h2>@ViewBag.Title</h2>

<p>You're logged in as <strong>@User.Identity.Name</strong>.</p>

@Html.Partial("_ManageAccountPartial")

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}