﻿@model  IEnumerable<DatingApp.Models.PeopleSearch>

@{
    ViewBag.Title = "AddAdmin";
}

<div>
    <table>
        <tr>
            @using (Html.BeginForm("AddAdmin", "Administrator", FormMethod.Post, new { id = "AddAdminForm" }))
        {  <td>
                <label  id="lblName">Search for Users to Add</label></td>
                <td>@Html.TextBox("txtValue")</td>
                <td><input  id="btnSearch"  type="submit"  value="Search"  /></td>
        }
        </tr>
    </table>
</div>
<div>
    @if (ViewBag.Message ==  true)
    { 
        <label  id="lblMessage"  title="Please enter keyword"  style="color:red;">Please enter keyword...!</label>
    }
    
    else
    {
    if (@Model != null)
        {
        if (@Model.Count() != 0)
            {
            <table id="tblSearch">
                <tr>
                    <th>User Name</th>
                    <th>Moderator</th>
                    <th>Administrator</th>
                </tr>

                @foreach (var item in @Model)
            {
                    <tr>
                        <td style="text-decoration:underline;">@Html.ActionLink( @item.UserName, "UserIndex", new{controller="home", id=@item.UserName})</td>
                        <td>@Html.ActionLink("Add as Moderator", "MakeMod", new{controller="Administrator", id=@item.UserName})</td>
                        <td>@Html.ActionLink("Add as Administrator", "MakeAdmin", new{controller="Administrator", id=@item.UserName})</td>
                    </tr>
            }
            </table>
            }
            else
            {
                <label  id="lblErrorMsg"  title="Person not fount...!"  style="color:red;">Person not found...!</label>
            }
        }
    }
</div>
