﻿<div>
    @Html.ActionLink("Back to Administraton Home", "Index")
</div>
<p>
    @Html.ActionLink("Add Administrator / Moderator", "AddAdmin")
</p>
<article>
    <table>
        <tr>
            <th>Administrators</th>
            <th></th>
        </tr>
        @foreach (var user in (String[])ViewData["Admin"])
        {
            <tr>
                <td>@user</td>
                <td>@Html.ActionLink("Remove Admin","RemoveAdmin", new{controller="Administrator", id=@user})</td>
            </tr>
        }
    </table>
</article>

<article>
    <table>
        <tr>
            <th>Moderators</th>
            <th></th>
        </tr>
        @foreach (var user in (String[])ViewData["Mod"])
        {
            <tr>
                <td>@user</td>
                <td>@Html.ActionLink("Remove Mod", "RemoveMod", new{controller="Administrator", id=@user})</td>
            </tr>
        }
    </table>
</article>