﻿@model DatingApp.Models.Message

<div id='dlgMessageDetails'>
    <fieldset>
        <legend>Message</legend>
        <input type="hidden" value="@Html.DisplayFor(model => ((DatingApp.Models.Message)ViewData["Message"]).MessageId)" name="MessageId" id="MessageId" />
        <div class="display-label">
             @Html.DisplayNameFor(model => ((DatingApp.Models.Message)ViewData["Message"]).Sender)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => ((DatingApp.Models.Message)ViewData["Message"]).Sender)
        </div>

        <div class="display-label">
             @Html.DisplayNameFor(model => ((DatingApp.Models.Message)ViewData["Message"]).Heading)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => ((DatingApp.Models.Message)ViewData["Message"]).Heading)
        </div>

        <div class="display-label">
             @Html.DisplayNameFor(model => ((DatingApp.Models.Message)ViewData["Message"]).MessageContent)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => ((DatingApp.Models.Message)ViewData["Message"]).MessageContent)
        </div>
    </fieldset>
</div>

<script type="text/javascript">
    $(function () {
        $('div.ui-dialog-content').dialog('close'),
        $("#dlgMessageDetails").dialog({
            modal: true,
            autoOpen: true,
            resizable: true,
            title: '@Html.DisplayFor(model => ((DatingApp.Models.Message)ViewData["Message"]).Heading)',
            height: 450,
            width: 550,
            buttons: {
                Reply: function CreateMessageDialog(messageId) {
                    if ($("#dlgMessageCreate").length == 0) {
                        // ajax load
                        $('#divMessageDetails').load("@Url.Action("OpenMessageReply", "Message")", { 'id': $('#MessageId').val() }); @*This allows javascript to pass a variable into the url*@
                    } else {
                        // clear fields
                        $('#Sender, #Heading, #MessageContent').val('');

                        // reopen the login dialog which was previously rendered
                        $("#dlgMessageCreate").dialog("open");
                    }
                },
                Delete: function OpenMessageDelete(messageId) {
                    $('#divMessageDelete').load("@Url.Action("OpenMessageDelete", "Message")", { 'id': $('#MessageId').val() }); @*This allows javascript to pass a variable into the url*@
                },
                Cancel: function () {
                    $(this).dialog("close"); // Closes the window
                }
            },
            open: function (event, ui) {
                $('.ui-icon').removeClass('ui-icon'), @*This line removes the 'X' out of the login dialog Because the X doesn't appear in the box*@  
                
                $("#dlgMessageDetails").keypress(function (e) {@*This function allows users to press the 'Enter' Key and submit the login info *@
                    if (e.keyCode == $.ui.keyCode.ENTER) {
                        $(this).parent().find("button:eq(1)").trigger("click");@*eq(0)=Close button, eq(2)=cancel button *@
                    }
                });
            }
        });
    });
</script>