﻿@model IEnumerable<DatingApp.Models.Message>

@{
    ViewBag.Title = "Messaging";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    @Model.Count() messages
    <table>
        <tr>
            <th>From:</th>
            <th>Subject:</th>
            <th></th>
        </tr>
        @foreach (var message in Model)
        {
            <tr>
                <td>@message.Sender</td>
                <td><a href="javascript:DetailsMessageDialog(@message.MessageId);">@message.Heading</a></td>
                <td style="text-align:center; padding-right:10px;"><a href="javascript:CreateMessageDialog(@message.MessageId);">Reply</a> |  @*I did this to hid the userid the controller will figure it out*@
                    <a href="javascript:DetailsMessageDialog(@message.MessageId);">View</a> |
                    <a href="javascript:DeleteMessageDialog(@message.MessageId);">Delete</a>
                </td>
            </tr>
        }
    </table>
    <div id='divCreateMessage'>
        <script type="text/javascript">
            function CreateMessageDialog(messageId) {
                if ($("#dlgMessageCreate").length == 0) {
                    // ajax load
                    $('#divCreateMessage').load("@Url.Action("OpenMessageReply", "Message")",{'id': messageId}); @*This allows javascript to pass a variable into the url*@
                } else {
                    // clear fields
                    $('#Sender, #Heading, #MessageContent').val('');

                    // reopen the login dialog which was previously rendered
                    $("#dlgMessageCreate").dialog("open");
                }
            }
        </script>
    </div>
    <div id='divMessageDetails'>
        <script type="text/javascript">
            function DetailsMessageDialog(messageId) {
                $('#divMessageDetails').load("@Url.Action("OpenMessageDetails", "Message")", { 'id': messageId }); @*This allows javascript to pass a variable into the url*@
            }
        </script>
    </div>
    <div id='divMessageDelete'>
        <script type="text/javascript">
            function DeleteMessageDialog(messageId) {
                $('#divMessageDelete').load("@Url.Action("OpenMessageDelete", "Message")", { 'id': messageId }); @*This allows javascript to pass a variable into the url*@
            }
        </script>
    </div>
</article>

<aside>
    
</aside>