﻿@model DatingApp.Models.UserProfile

<div id='dlgDetails'>
@using (Html.BeginForm())
    { 
    <fieldset>
    <legend>About Me</legend>
    <div class="editor-label">
        @Html.LabelFor(m => m.Alcohol)
        <select id="AlcoholID" name="Alcohol" >
            <option value=""></option>
            <option value="Yes, I drink">I Drink</option>
            <option value="No, I do not drink">I do not Drink</option>
            <option value="Sometimes, I am a social drinker">I am a social Drinker</option>
        </select>
    </div>
    <div class="editor-label">
        @Html.LabelFor(m => m.Cigarettes)
        <select id="TobaccoID" name="Tobacco" >
            <option value=""></option>
            <option value="Cigarettes">Cigarettes</option>
            <option value="Cigars">Cigars</option>
            <option value="Pipes">Pipes</option>
            <option value="Chew/Snuff/Dissolvable">Chew/Snuff/Dissolvable</option>
            <option value="Multiple Kinds">Multiple Kinds</option>
            <option value="No, I do not use Tobacco">No, I do not use Tobacco</option>
        </select>
    </div>
    <div class="editor-label">
        @Html.LabelFor(m => m.Drugs)
        <select id="DrugsID" name="Drugs" >
            <option value=""></option>
            <option value="Marijuana">Marajuana</option>
            <option value="Other">Other</option>
            <option value="Multiple Kinds">Multiple Kinds</option>
            <option value="Undecided">Undecided</option>
            <option value="Not Saying">Not Saying</option>
            <option value="None">None</option>
        </select>
    </div>
    <div class="editor-label">
        @Html.LabelFor(m => m.Children) 
        <select id="ChildrenID" name="Children" >
            <option value=""></option>
            <option value="Yes">I Have Children</option>
            <option value="No">No Children</option>
            <option value="Someday">I want children later</option>
        </select>
    </div>
    </fieldset>
    }
</div>
<script type="text/javascript">
    $(function () {
        $('div.ui-dialog-content').dialog('close'),
        $("#dlgDetails").dialog({
            modal: true,
            autoOpen: true,
            resizable: false,
            title: "Edit Details!",
            width: 300,
            height: 400,
            buttons: {
                Save: function () {
                    // perform login
                    $.post("@Url.Action("EditDetails", "Home")",
				    {
				        Alcohol: $('#AlcoholID').val(),
				        Tobacco: $('#TobaccoID').val(),
				        Drugs: $('#DrugsID').val(),
                        Children: $('#ChildrenID').val()
				    },
                    //Check to see if it worked
				    function( data, status, xhr ) {
                        if(data.Success){ // If it worked
                            $('#dlgDetails').dialog("close"); // Close popup dialog box
                            location.reload();
                        } else {
                            $('#dlgDetails').dialog('option', 'title', 'Error: Updating Details'); // change the title from Welcome to Error
                        }
				    });
                },
                Cancel: function () {
                    //$('#dlgUpload').css('overflow', 'hidden'),
                    $(this).dialog("close"); // Closes the window
                }
            },
            open: function (event, ui) {
                //$('#dlgUpload').css('overflow', 'hidden'), //this line hides the horizontal scroll bar
                $('.ui-icon').removeClass('ui-icon'), @*This line removes the 'X' out of the login dialog Because the X doesn't appear in the box*@  
                
                $("#dlgDetails").keypress(function (e) {@*This function allows users to press the 'Enter' Key and submit the login info *@
                    if (e.keyCode == $.ui.keyCode.ENTER) {
                        $(this).parent().find("button:eq(1)").trigger("click");@*eq(0)=Close button, eq(1)=Login button, eq(2)=cancel button *@
                    }
                });
            }
        });
    });
</script>