﻿<div id='dlgImage'>
    <img style="width:400px; height:400px; background-color:white;" src="@ViewData["Image"]"/>
</div>
<script type="text/javascript">
    $(function () {
        $('div.ui-dialog-content').dialog('close'),
        $("#dlgImage").dialog({
            modal: true,
            autoOpen: true,
            resizable: false,
            width: 440,
            height: 465, 
            open: function (event, ui) {
                $('.ui-icon').removeClass('ui-icon') @*This line removes the 'X' out of the login dialog Because the X doesn't appear in the box*@  
            }
        });
    });
</script>
