﻿@{
    ViewBag.Title = "Features";
}

<h2>Main Features</h2>
<p>
    On BareMyBones.com you can create a profile, add your secrets, upload pictures, 
    search for and view other users' profiles, message users, and participate in exciting events!
</p>
<h2>Paid Features</h2>
<p>
    Becoming a paid member brings you even more benefits. You can:
</p>
<ul>
    <li>View other users' skeletons</li>
    <li>Add more pictures to your albums</li>
    <li>Unlock an advanced search that lets you search for other users by skeleton type</li>
</ul>