﻿@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                <span class="siteName">BareMyBones.com</span> is an online dating site where you can reveal your
                greatest secrets and discover those of others. You can even find matches based on the kinds of 
                secrets you've revealed. Sign up today, and find someone who will understand the things you're
                usually afraid to share! 
            </p>
        </div>
    </section>
}

<ol class="round">
    <li class="one">
        <h5>Create a User Profile and Login</h5>
        <a href="../Account/Register">Click Here</a>
    </li>

    <li class="two">
        <h5>Main Features</h5>
        <a href="../Home/Features" >Learn more…</a>
    </li>

    <li class="three">
        <h5>Paid Features</h5>
        <a href="../Home/Features">Learn more…</a>
    </li>
</ol>