﻿@model DatingApp.Models.UserProfile

@{
    ViewBag.Title = Model.UserName + "'s page.";
}

<div class="title">
    
    <h1>@ViewBag.Title</h1>
    <br />
    @if (Model.UserName == HttpContext.Current.User.Identity.Name)
    {
    <hgroup class="title">
    <h2>@ViewBag.Message 
        @Model.FirstName</h2>
    </hgroup>
    }
</div>
<div style="float:left;">
    @if (ViewData["ImageURL"] != null)
    {
        <text><img style="width:210px; height:250px; background-color:white;" src="@ViewData["ImageURL"]"/></text>
    }
    else
    {
        <img style="width:210px; height:250px; background-color:white;" src="~/Images/default_profile.png" />
    }
    <div>
        @if (Model.UserName == HttpContext.Current.User.Identity.Name)
        {<a href="javascript:showUploadDialog();">Upload Profile Image</a>
            <div id='divUpload'>
                <script type="text/javascript">
                    function showUploadDialog()
                    {
                        if ($("#dlgLogin").length == 0) {
                            // ajax load
                            $('#divUpload').load("@Url.Action("OpenUpload", "Home")");
                        } else {
                            // clear file path
                            $('#fileupload').val('');

                            // reopen the login dialog which was previously rendered
                            $("#dlgLogin").dialog("open");
                        }
                    }
                </script>
            </div>
        }
        <div>
            @if (Model.UserName != HttpContext.Current.User.Identity.Name)//Only give them a message button on others' profiles
            {<a href="javascript:CreateMessageDialog();">Message User</a>
            <div id='divCreateMessage'>
                <script type="text/javascript">
                    function CreateMessageDialog() {
                        if ($("#dlgMessageCreate").length == 0) {
                            // ajax load
                            $('#divCreateMessage').load("@Url.Action("OpenMessageCreate", new { controller = "Message", id = @Model.UserName })");
                        } else {
                            // clear username & password fields
                            $('#Sender, #Heading, #MessageContent').val('');

                            // reopen the login dialog which was previously rendered
                            $("#dlgMessageCreate").dialog("open");
                        }
                    }
                </script>
            </div>
            }
        </div>
    </div>
</div>

<section class="contact">

<div id="accordion" style="float:left; width:400px;">
    <h3 style="padding-left:25px;font-weight:bold;">Basic Information</h3>
    <div>
       @if (Model.UserName == HttpContext.Current.User.Identity.Name) 
        {
            <div id='divBasicInfo'>
                <script type="text/javascript">
                    function showBasicInfoDialog() {
                        if ($("#dlgBasicInfo").length == 0) {
                            // ajax load
                            $('#divBasicInfo').load("@Url.Action("OpenBasicInfo", "Home")");
                        } else {
                            // clear file path
                            $('#fileupload').val('');

                            // reopen the login dialog which was previously rendered
                            $("#dlgBasicInfo").dialog("open");
                        }
                    }
                </script>
            </div>
        }
        <div style="float: left;">
       Gender: @Model.Gender <br />
        @{ TimeSpan length = (DateTime.Now - Model.Birthday);
           int age = Convert.ToInt32(length.TotalDays / 365);}
        Age: @age <br />
        Ethnicity: 
        @if(Model.Ethnicity != null){
                         @Model.Ethnicity}
        else{
              <text>?</text> }  <br />
        @Model.City, @Model.Country, Postal code @Model.PostalCode
        </div>
        <div style="clear: both; width: 90%; text-align:center;"><a href="javascript:showBasicInfoDialog();">EDIT BASIC INFORMATION</a></div>
    </div>
    <h3 style="padding-left:25px;font-weight:bold;">Details</h3>
    <div>
    @if (Model.UserName == HttpContext.Current.User.Identity.Name) 
    {
        <div id='divDetails'>
            <script type="text/javascript">
                function showDetailsDialog() {
                    if ($("#dlgDetails").length == 0) {
                        // ajax load
                        $('#divDetails').load("@Url.Action("OpenDetails", "Home")");
                    } else {
                        // clear file path
                        $('#fileupload').val('');

                        // reopen the login dialog which was previously rendered
                        $("#dlgDetails").dialog("open");
                    }
                }
            </script>
        </div>
    }
        <div style="float: left;">
    Alcohol: 
        @if(Model.Alcohol != null){
                         @Model.Alcohol}
        else{
              <text>?</text> }  <br />
        Tobacco Products: 
        @if (Model.Cigarettes != null)
        {
                         @Model.Cigarettes}
        else{
              <text>?</text> }  <br />
        Drugs: 
        @if(Model.Drugs != null){
                         @Model.Drugs}
        else{
              <text>?</text> }  <br />
        Has or wants children: 
        @if(Model.Children != null){
                         @Model.Children}
        else{
              <text>?</text> }  <br />
        </div>
        <div style="clear: both; width: 90%; text-align:center;"><a href="javascript:showDetailsDialog();">EDIT DETAILS</a></div>
    </div>
    <h3 style="padding-left:25px;font-weight:bold;">About Me</h3>
    <div>
    @if (Model.UserName == HttpContext.Current.User.Identity.Name) 
    {
        <div id='divAboutMe'>
            <script type="text/javascript">
                function showAboutMeDialog() {
                    if ($("#dlgAboutMe").length == 0) {
                        // ajax load
                        $('#divAboutMe').load("@Url.Action("OpenAboutMe", "Home")");
                    } else {
                        // clear file path
                        $('#fileupload').val('');

                        // reopen the login dialog which was previously rendered
                        $("#dlgAboutMe").dialog("open");
                    }
                }
            </script>
        </div>
    }
    <div style="float: left">@Model.About</div>
    <div style="clear: both; width: 90%; text-align:center;"><a href="javascript:showAboutMeDialog();">EDIT ABOUT ME</a></div>
    </div>
    <h3 style="padding-left:25px;font-weight:bold;">Small Skeleton</h3>
    <div>
    @if (Model.UserName == HttpContext.Current.User.Identity.Name)
    {
        <div id='divSkeletonS'>
            <script type="text/javascript">
                function showSkeletonDialog() {
                    if ($("#dlgSkeleton").length == 0) {
                        // ajax load
                        $('#divSkeletonS').load("@Url.Action("OpenSkeleton", "Home")", { 'id': 1 });
                    } else {
                        // clear file path
                        $('#Level').val('');
                        $('#Genre').val('');
                        $('#Story').val('');

                        // reopen the Skeleton dialog which was previously rendered
                        $("#dlgSkeleton").dialog("open");
                    }
                }
            </script>
        </div>
    }
        <div style="float: left;">
            @{
                for(int i = 0; i < Model.Skeletons.Count; i++)
                {
                    var s = Model.Skeletons[i];
                    
                    if(s.ModApproval == true && s.Level == 1)
                    {
                        <p>s.Story</p>
                    }
                }
            }
        </div>
        <div style="clear: both; width: 90%; text-align:center;"><a href="javascript:showSkeletonDialog(1);">Add A SKELETON</a></div>
    </div>
    <h3 style="padding-left:25px;font-weight:bold;">Medium Skeleton</h3>
    <div>
        <div style="float: left;">
            @{
                for(int i = 0; i < Model.Skeletons.Count; i++)
                {
                    var s = Model.Skeletons[i];
                    
                    if(s.ModApproval == true && s.Level == 2)
                    {
                        <p>s.Story</p>
                    }
                }
            }
        </div>
        <div style="clear: both; width: 90%; text-align:center;"><a href="javascript:showSkeletonDialog(2);">Add A SKELETON</a></div>
    </div>
    <h3 style="padding-left:25px;font-weight:bold;">Large Skeleton</h3>
    <div>
    @if (Model.UserName == HttpContext.Current.User.Identity.Name)
    {
        <div id='divSkeletonL'>
            <script type="text/javascript">
                function showSkeletonDialog(level) {
                    if ($("#dlgSkeleton").length == 0) {
                        // ajax load
                        $('#divSkeletonS').load("@Url.Action("OpenSkeleton", "Home")", { 'id': level });
                    } else {
                        // clear file path
                        $('#Level').val('');
                        $('#Genre').val('');
                        $('#Story').val('');

                        // reopen the Skeleton dialog which was previously rendered
                        $("#dlgSkeleton").dialog("open");
                    }
                }
            </script>
        </div>
    }
        <div style="float: left;">
            @{
                for(int i = 0; i < Model.Skeletons.Count; i++)
                {
                    var s = Model.Skeletons[i];
                    
                    if(s.ModApproval == true && s.Level == 3)
                    {
                        <p>@s.Story</p>
                    }
                }
            }
        </div>
        <div style="clear: both; width: 90%; text-align:center;"><a href="javascript:showSkeletonDialog(3);">Add A SKELETON</a></div>
    </div>
    <h3 style="padding-left:25px;font-weight:bold;">Photo Albums</h3>
    <div><table style="background-color:white"><tr>
    @if (ViewData["GalleryURL"] != null)
    {
        foreach (DatingApp.Models.Image imgUrl in (List<DatingApp.Models.Image>)ViewData["GalleryURL"])
        {
            <text><td><a href="javascript:showImageDialog(@imgUrl.ImageId);"><img style="width:75px; height:75px; background-color:white;" src="@imgUrl.ImageURL"/></a></td></text>
        }
    }
    else
    {

    }
    </tr></table>
        @if (Model.UserName == HttpContext.Current.User.Identity.Name)
        {   
            <div id='divImage'>
                <script type="text/javascript">
                    function showImageDialog(url) {
                        if ($("#dlgImage").length == 0) {
                            // ajax load
                            $('#divImage').load("@Url.Action("OpenImage", "Home")", { 'id': url });
                        } else {
                            // clear file path
                            $('#fileImage').val('');

                            // reopen the login dialog which was previously rendered
                            $("#dlgImage").dialog("open");
                        }
                    }
                </script>
            </div>
        }
        @if (Model.UserName == HttpContext.Current.User.Identity.Name)
        {<div style="clear: both; width: 90%; text-align:center;"><a href="javascript:showGalleryDialog();">Upload Profile Image</a></div>
            <div id='divGallery'>
                <script type="text/javascript">
                    function showGalleryDialog() {
                        if ($("#dlgGallery").length == 0) {
                            // ajax load
                            $('#divGallery').load("@Url.Action("OpenGallery", "Home")");
                        } else {
                            // clear file path
                            $('#fileGallery').val('');

                            // reopen the login dialog which was previously rendered
                            $("#dlgGallery").dialog("open");
                        }
                    }
                </script>
            </div>
        }
        <div>
    </div>
</div>

</section>

