﻿<div id='divLoginButton'>

@*Show If User is Logged in Currently*@

@if (Request.IsAuthenticated && ViewData["LogOff"] == null)
{
    <text>
    @*Kinda a Lazy way, but the the table tags are here to keep these tags inline*@
    <table style="background-color:white;">
        <tr>
            <td style="text-align:right">
                Hello, @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })
            </td>
            <td style="text-align:right">
                 @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
                    @Html.AntiForgeryToken()
                    <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                 }
            </td>
        </tr>
        <tr>
            @using (Html.BeginForm("Index", "Search", FormMethod.Post))
        {  
            <td  style="border:  none;">@Html.TextBox("txtValue", "Search For People",new { style="width:150px; text-align:right; font-size:1.0em;", onclick="this.value = '';" })</td>
            <td  style="border:  none;">
                <input  id="btnSearch"  type="submit"  value="Search"  /></td>
        }
        </tr>
    </table>
    </text>
}

@*Show If User is not Logged in Currently*@

else
{
    @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
    @: <a href='javascript:showLogonDialog();'>Log On</a>
    <script type="text/javascript">

    function showLogonDialog() {
        if( $("#dlgLogin").length == 0 ){
            // ajax load
            $('#divLogon').load("@Url.Action("OpenLogin", "Account")");
        } else {
            // clear username & password fields
            $('#username,#password').val('');

            // reopen the login dialog which was previously rendered
            $("#dlgLogin").dialog("open");
        }
    }
    </script>
    <div id='divLogon'>
    </div>
    <div>
        @using (Html.BeginForm("Index", "Search", FormMethod.Post))
        {  
            @Html.TextBox("txtValue", "Search For People", new { style = "width:150px; text-align:right", onclick="this.value = '';" })
            <input  id="btnSearch"  type="submit"  value="Search"  /> @*Ignore Green Squigly: The two objects on this page will never appear together *@
        }
    </div>
}
</div>